<html> 
<%= render "header" %>
<% 
#write this up here so as to be more efficient
todo = [];
completed = [];

current_user.tasks.each do |task|
  unless task.completed
    todo.append(task)
  else
    completed.append(task)
  end

  todo.sort_by! {|task| calcTimeEfficiency(task, calcPriority(task))}
  todo.reverse!
  completed.sort_by! {|task| task.duetime}
  completed.reverse!
end 
%>

<body style = "margin-top: 60px">



      <!-- Begin page content -->
<div class="container">
    <div id = "page-block"> <!-- page container-->
      <div class ="main-container">
        <div class="page-header">
          <h2>My Tasks</h2>
        </div>
        <div class="panel panel-default">
        <div class = "accordionHead" id = "accordion3">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionHead" data-target= ".panel-body">
            <div class="panel-heading">
            To Do
            </div>
            </a>
        <div class="panel-body collapse in">

          <div id = "taskcontainer">
                <!--- main task container-->
                <ul class="list-group" id="todo_list">


                <% if signed_in? %>
                    <div id="todo_tasks"><%= render partial: "tasks/task", collection: todo %></div>
                <% end %>                 
                </ul>

          </div>


        </div>  
        </div>
        </div>
      </div>

<div class="panel panel-default">
<div class = "accordionHead" id = "accordion3">
  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionHead" data-target= ".panel-body2">
    <div class="panel-heading ">
    Completed
    </div>
  </a>

  <div class="panel-body2 collapse">
    <div id = "completedtaskcontainer">
      <!--- main task container-->
      <ul class="list-group" id="completed_list">
       
              <% if signed_in? %>
                <div id="completed_tasks"><%= render partial: "tasks/task", collection: completed %></div>
              <% end %>
      </ul>
    </div>


</div>

</div>
</div>
</div>
</div>
</body>
</html>

