<html> 
<head>

<%= stylesheet_link_tag "bootstrap" %>
<%= stylesheet_link_tag "custom" %>
<title> Hackplus </title>
</head>

<body>

    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Hack Plus</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  
		  <li><a href="#">Action</a></li>
		  <%= x = 0 %>
		  	<li> <a href = "#"> Action <%= x %>	</a> </li>
		  	<% x = x + 1%>
		  	
		  	  	
		  	  	  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
      <div class ="main-container">

      
        <div class="page-header">
          <h2>Your schedule today</h2>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">Saturday, September 28</div>
          <div class="panel-body">
            <div id = "taskcontainer">
            <!--- main task container-->
            <ul class="list-group">
              <li class="list-group-item"> 
              
              <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse"> 
                            <div class="task-name">Package Pickup</div> 
                            <div class="task-date"> 5:45 PM </div> 
                        </a>
                    </div>

                    <div id="collapse" class="accordion-body collapse">  
                        <div class="accordion-inner">  Pick up a package at the UC and send mail to Stefan and Kathy
                        </div>
                    </div>
                  </div>
                 </div>
                 
               </li>
              
            </ul>

<!--------------------- experimenting -------->



 <!--------------- HELLO ------------------->


           </div>
    
          </div>
        </div>
        

      
    </div>
    </div>


    <div id = "taskadder">
        
    </div>
    </div>
    
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
      </div>
    </div>

</body>
</html>
