<html> 
<head>

<%= stylesheet_link_tag "bootstrap" %>
<%= stylesheet_link_tag "custom" %>
<link href='http://fonts.googleapis.com/css?family=Kite+One|Sintony' rel='stylesheet' type='text/css'>

<title> Hackplus </title>
</head>

<body>

    <div id="wrap">

     <%= render "header" %>

      <!-- Begin page content -->
      <div class="container">

      <div id = "page-container"> <!-- page container-->
      
      <div class ="main-container">

      
        <div class="page-header">
          <h2>Your schedule today</h2>
        </div>


  <div class="panel panel-default">
  <div class="panel-heading">
    Saturday, September 28
  </div>
  <div class="panel-body">
    <div id = "taskcontainer">
      <!--- main task container-->
      <ul class="list-group">
        <li class="list-group-item">
          
          
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse">
                  
                  <div class="task-name">
                    Package Pickup
                  </div>
                  
                  <div class="task-date">
                    5:45 PM 
                  </div>
                  
                </a>
              </div>
              
              <div id="collapse" class="accordion-body collapse">
                
                <div class="accordion-inner">
                  Pick up a package at the UC and send mail to Stefan and Kathy
                </div>
                
                
                
              </div>
            </div>
          </div>
        </li>
        
      </ul>
    </div>
  </div>


</div>  
</div>
</div>



</body>
</html>

