<html> 
<%= render "header" %>

<body style = "margin-top: 50px">

<div class = "welcome">
let's make life easier
</div>

<div class="footer"> 

<div>


      <!-- Begin page content -->
      <div class="container">

      <div id = "page-container"> <!-- page container-->
      
      <div class ="main-container">


 

    </div>  
    </div>
    </div>




</body>
</html>

