$taskPadding: 10px;
$colorOrange: #E89C0C;
$colorLightGrey: #B7B8B6;

body{
    background: url(/images/bcg2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family:'Dosis';
    font-size: 18px;
    }

h2{
    font-family: 'Kite One';
    color: #FFFFFF;
    opacity: 0.5;
    }
    
h2.form-signin-heading{
    color: #1D3642;
    }


.navbar{
    background-color: rgba(0,0,0,0.5);
    }

.navbar-brand a:hover{
    background-color: rgba(0,0,0,1);
    }
.main-container{
    
    margin-left: auto;
    margin-right: auto;
    }

.list-group-item{
    background-color: rgba(0,0,0,0.5) !important;
    border-color: rgba(255,255,255,0.4);
    color: $colorLightGrey;
    }

.panel-heading{
    background-color: rgba(0,0, 0,0.5) !important;
    color: $colorOrange !important;
    text-transform: uppercase;
    font-size: 18px !important;
    border: none !important;
    }
    
.panel{
    background-color: rgba(0,0,0,0.7);
    border-color: rgba(255,255,255,0.4);
    }

#taskcontainer{
    margin-left: auto;
    margin-right: auto;
    padding-left: $taskPadding;
    padding-right: $taskPadding;
    padding-top: $taskPadding;
    padding-bottom: $taskPadding;
    width: 100%;
    border: none;
    }

.task-name{
    font-family: Dosis;
    font-size: 30px;
    color: $colorLightGrey;
    padding-bottom: 5px;
    font-weight: bold;
    }

.task-name a:hover{
    color: #FFFFF0;
    }


.task-date{
    font-style: italic;
    color: $colorOrange;
    }

    
.accordion-group{
    border: none;
    }
.accordion-inner{
    border: none;
    }

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  text-align: center;
}

